<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="/">Наши писатели</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/blog/">О нас</a>
  </li>

</ul>

        {% block content %}

        {% endblock %}

<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <!-- Контактная информация -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Контакты</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:contact@kidsbooks.com" class="text-dark">contact@kidsbooks.com</a>
          </li>
          <li>
            <a href="tel:+1234567890" class="text-dark">+1 (234) 567-890</a>
          </li>
        </ul>
      </div>

      <!-- О нас -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">О нас</h5>
        <p>
          Мы предоставляем лучшие книги для детей всех возрастов, чтобы поощрять любовь к чтению и развивать воображение.
        </p>
      </div>

      <!-- Социальные сети -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Мы в социальных сетях</h5>
        <ul class="list-unstyled d-flex justify-content-center">
          <li>
            <a href="#" class="text-dark mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#" class="text-dark mx-2">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" class="text-dark mx-2">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 KidsBooks
  </div>
</footer>
<!-- Bootstrap иконки FontAwesome (не забудьте подключить) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>